#--------------------------------------------------------------------
# Remarks: 
# 1. In order for the service to run after a reboot
#		make sure to create a 'symlink'
#		ln -s /etc/systemd/system/<myservice.service> /etc/systemd/system/multi-user.target.wants/<myservice.service>
# 2. Reload daemon: systemctl daemon-reload
# 3. Start Service: systemctl start <myservice.service>
# 4. Check status: systemctl status <myservice.service>
#--------------------------------------------------------------------
[Unit]
Description=Enable Network Interface Eth1

[Service]
Type=oneshot
#User MUST BE SET TO 'root'
User=root
RemainAfterExit=true
ExecStart=/usr/local/bin/daisychain_state.sh enable

ExecStop=/usr/local/bin/daisychain_state.sh disable

[Install]
WantedBy=multi-user.target
