###############################
# location: /etc/udev/rules.d #
###############################

#Change ownership and permission of /sys/class/gpio
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /sys/class/gpio/ -maxdepth 2 -exec chown root:gpio {} \; -exec chmod 770 {} \; || true'"

#Change ownership and permission of /var/backups/gpio/
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /var/backups/gpio/ -maxdepth 2 -exec chown -R root:gpio {} \; -exec chmod 770 {} \; || true'"

#Change ownership and permission of /sys/devices/platform/soc@B/9c108000.l2sw/mode
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /sys/devices/platform/soc@B/9c108000.l2sw/mode -maxdepth 1 -exec chown -R root:gpio {} \; -exec chmod 664 {} \; || true'"

#Change ownership and permission of /etc/netplan/
#Note: this is necessary for object 'ntios > net' and 'ntios > wln'
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /etc/netplan/ -maxdepth 1 -exec chown -R root:gpio {} \; -exec chmod 775 {} \; || true'"

#Change ownership and permission of /dev/gpiochip*
SUBSYSTEM=="gpio", KERNEL=="gpiochip[0-4]", GROUP="gpiod", MODE="0660"
