*test
*test*
*-workspace
*mytest
*newtest
*ispboootbin_version.txt

#ignore the users local environmet variables. 
*/docker/environment/exported_env_var.txt
*/docker/version/ispboootbin_version.txt